<%= simple_form_for  @circularNb, url: circular_prime_index_path do |f| %>
  <div class="container-form">
      <%= f.input :value, label: "",  placeholder: "Enter a value"%>
      <%= f.submit "Validate", class: 'btn btn-primary' %>
  </div>
<% end %>
