<div class="container">
  <div class="container-home-new text-center">
    <div class="title"><h1>Circular Prime</h1></div>
    <div class="description"><p>Enter a number and find all the circular prime numbers below this one</p></div>
    <div class="search"><%= render 'form', circularNb: @circularNb %></div>
  </div>
</div>


