<div class="container">
  <div class="text-center">
    <h1>Circular Prime</h1>
    <p>List of all the circlar prime numbers under <%= @circularNb.value %></p>
    <% (0..@circularNb.results.count).each { |i| %>
    <p><%= @circularNb.results[i]  %></p>
    <% } %>

  </div>
</div>

