<div class="table-card">
  <div class="card-container">
    <h1 class="table-title">Circular Prime</h1>
    <div class="table-wrap-outter">
      <hr class="top-ln">
      <div class="table-wrap">
        <table class="table">
          <thead class="thead" title="Click to sort">
            <tr class="row">
              <th class="col-head" scope="col">Numbers under <%= @circularNb.value %></th>
            </tr>
          </thead>
          <tbody class="tbody">
            <% (0..@circularNb.results.count-1).each { |i| %>
              <tr class="row">
                <td class="cell"><%= @circularNb.results[i]  %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <hr class="btm-ln">
  </div>
</div>
<div class="bottom">
  <%= link_to "Back to home",  new_circular_prime_path, class: "btn-home" %>
  <%= link_to "Export CSV", circular_prime_path(format: "csv"), class: "btn-home"  %>
</div>
